pipeline/pl_clean_formula1_data.json
{
	"name": "pl_clean_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "Get folders details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_storage_folder_validation",
						"type": "DatasetReference",
						"parameters": {
							"p_trigger_date": {
								"value": "@pipeline().parameters.p_trigger_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get folders details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get folders details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Clean circuits file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_circuits_data",
								"baseParameters": {
									"file_date_parameter": {
										"value": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean races file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_races_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean constructors file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_constructors_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean drivers file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_drivers_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean lap_times file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_lap_times_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean pit_stops file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_pit_stops_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean qualifying file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_qualifying_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Clean results file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/formula-one-db/clean_data/clean_results_data",
								"baseParameters": {
									"file_date_parameter": "@formatDateTime(pipeline().parameters.p_trigger_date,'yyyy-MM-dd')"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_formula_one",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_trigger_date": {
				"type": "string"
			}
		},
		"annotations": []
	}
}